<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
    a {
      color: #d8e2e8;
    }
    table {
      width: 50%;
      margin: 50px auto 0;
      border: 1px solid white;
      border-collapse: collapse;
    }
    td ,th {
      border: 1px solid white;
      padding: 5px;
      color: white;
    }
  </style>
</head>
<body style="font-size:20px; padding:100px; text-align:center; background-color: #5a6469">
  <% include ./partials/_header%>
  <table>
      <% if(user){ %>
        <% for(let userID in urls){ %>
          <% if(user.id === userID){ %>
            <thead>
              <tr>
                <th>
                  Tiny Link
                </th>
                <th>
                  Original URL
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <% for(let shortURL in urls[userID]){ %>
              <tr>
                <td><a href="/u/<%= shortURL %>">http://tiny.app/u/<%=shortURL%></a></td>
                <td><%= urls[userID][shortURL]%></td>
                <td>
                  <a href="/urls/<%= shortURL%>" style="color: #d8e2e8;"><button>Edit</button></a>
                  <form method="POST" action="/urls/<%= shortURL %>/delete" style="display: inline-block;">
                    <input type="submit" value="Delete">
                  </form>
                </td>
              </tr>
              <%}%>
            </tbody>
          <%}%>
        <%}%>
      <%}%>
  </table>
</body>
</html>
